body {
    margin: 0px;
    padding: 0px;

    font-family: "Roboto", sans-serif;
}

.hero-container {
    max-width: 1400px;
    margin: 0 auto;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
}

.logo {
    width: 35px;
}

.menu-section {
    display: flex;
    align-items: center;
}

.menu-item {
    color: #ffdcd2;
    margin-right: 20px;
    cursor: pointer;
    transition: color 0.2s;
}

.menu-item:hover {
    color: #fff;
}

.hero-content {
    display: flex;
    padding: 100px 40px;
}

.hero-left {
    width: 50%;
}

.hero-title {
    color: white;
    font-size: 40px;
    font-weight: 700;
}

.hero-text {
    color: #ffdcd2;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.hero-button-primary {
    border-radius: 20px;
    border: none;
    background-color: #3f89ff;
    color: white;
    padding: 12px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s; 
}

.hero-button-primary:hover {
    background-color: #417ad4;
}

.hero-button-secondary {
    border: none;
    background-color: transparent;
    color: #ffdcd2;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.2s;
    margin-left: 10px;
}

.hero-button-secondary:hover {
    color: #fff;
}

.hero-right {
    margin-top: 50px;
    width: 200px;
    height: 200px;
    background-color: #ffe532;
    border-radius: 50%;
    margin-left: auto;
    margin-right: 100px;
    display: flex;
    align-items: end;
}

.hero-image {
    width: 200px;
    height: 298px;
    border-radius: 50%;
    
    position: relative;
    top: 10px;
}

.hero-path {
    position: absolute;
    top: 0px;
    z-index: -1;
}

.hero-path-1 {
    fill: #f85a3d;
}

.hero-path-2 {
    fill: #fc604a;
}

.hero-path-3 {
    fill: #ff6752;
}

.services-section {
    max-width: 1400px;
    margin: 140px auto;

    display: flex;
    justify-content: space-between;
}

.services-left {
    padding: 0 40px;
}

.services-title {
    color: #fa715f;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}

.services-text {
    color: #7f8083;
    font-size: 15px;
}

.services-prompt {
    color: #fa715f;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 15px;
}

.services-input {
    display: flex;
    border-radius: 50px;
    width: 150px;
    padding: 5px 7px 5px 20px;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
    justify-content: space-between;
    align-items: center;
}

.services-input-field {
    border: none;
    background-color: transparent;
    width: 100px;
    font-size: 16px;
}

.services-input-field:focus {
    outline: none;
}

.services-input-button {
    color: white;
    background-color: #fa715f;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.services-right {
    padding-right: 40px;
    display: grid;
    grid-template-columns: auto auto;
}

.services-rectangle {
    width: 150px;
    height: 150px;
    box-shadow: 0px 2px 10px 0px #989aad4b;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #989aad;
    font-size: 14px;
}

.services-rectangle-icon {
    font-size: 40px !important;
}